.formulario{
    background-color: rgb(231, 252, 109);
    margin: auto;
    width: 80%;
    border: 3px solid rgb(128, 126, 0);
    padding: 10px;
    margin-bottom: 10px;
}

body{
    background-color: rgb(245, 230, 27);
}

button{
    cursor: pointer;
    border: 2px solid rgb(128, 126, 0);
    background-color: #ffff80;
    padding: 12px 28px;
    border-radius: 8px;
}

.navbar{
    display: wrap;
    flex-wrap: wrap;
    align-content: center;
    text-align: center;
    margin: 25px;
}