<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <title>Principal</title>
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <header class="navbar">
            <a href="/form"><button>Cadastrar</button></a>
            <a href="/listar"><button>Listar todos eventos</button></a>
            <a href="/buscar"><button>Buscar por nome</button></a>
        </header>

        <div class="formulario">
            <h1>Cadastre seu evento em nossa lista</h1>
        </div>
    </body>
</html>