<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Document</title>
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <header class="navbar">
            <a href="/form"><button>Cadastrar</button></a>
            <a href="/listar"><button>Listar todos eventos</button></a>
            <a href="/buscar"><button>Buscar por nome</button></a>
        </header>
        <div class="formulario">
            <div>
                <p>Nome: <span th:text="${evento.nome}"></span></p>
                <img th:src="${evento.imagem}" width="20%">
                <p>Tipo: <span th:text="${evento.tipo}"></span></p>
                <p>Data: <span th:text="${evento.data}"></span></p>
                <p>Inicio:<span th:text="${evento.horaI}"></span></p>
                <p>Fim:<span th:text="${evento.horaF}"></span></p>
                <p>
                    Rua: <span th:text="${evento.rua}">, </span>
                    Estado: <span th:text="${evento.estado}">, </span>
                    Pais: <span th:text="${evento.pais}">, </span>
                    Bairro: <span th:text="${evento.bairro}">, </span>
                </p>
            </div>
        </div>
    </body>
</html>